*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	margin: 0;
	display: flex;
}
.corpo{
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	background-color: #F5F5F5;
	display: flex;
	justify-content: space-between;
	border-left: 0.15vw #2E3192 solid;
}
	@media (max-width: 768px){
		.corpo{
			width: 100vw;
			min-height: 100vh;
			flex-direction: column;
			border:none;
		}
	}
.corpo-barra_lateral{
	width: 2.5vw;
	height: 100%;
	background-color: #2E3192;
	display: flex;
	flex-flow:column nowrap;
	position: fixed;
	z-index: 2;
}
	
		/*.corpo-barra_lateral .drop-item{
			width: 8vw;
			height: 100%;
			position: fixed;
			background-color: #2E3192;
			align-items: center;
			z-index: 1;
			display: block;
		}*/
.corpo-barra_lateral-p{
	width: 2.2vw;
	margin: 0;
	min-height: 3vh;
	font-family: Light;
	font-weight: 400;
	font-size: 15px;
	color: #F7F7F7;
	line-height: 5vh; 
	text-align: center;
}
	@media (max-width: 768px){
		.corpo-barra_lateral-p{
			display: none;
		}
	}
.corpo-menu{
	width: 18vw;
	min-height: 50vh;
	/*padding: 5%;*/
	line-height:5vh;
	/*border-right: 0.1vw #2E3192 solid ;*/
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	top: 0;
	left: 0;
	/*background: rgba(255, 255, 255, 0.75);*/
}
	@media (max-width: 768px){
		.corpo-menu{
			width: 100vw;
			min-height: 22vh;
			padding: 0 2%;
			border-style: none;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			background-color: #F5F5F5;
			z-index: 0;
		}
	}
.corpo-menu-logo{
	width: 10vw;
}
	@media (max-width: 768px){
		.corpo-menu-logo{
			width: 50%;
			margin-right:8%;	
		}
	}
.corpo-menu-hamburguer{
	background-color: transparent;
	border: none;
	font-size: 45px;
	display: none; 
	color: #2E3192;
	padding: 0;
	margin-left: 5%;			
}
.nav-corpo-menu{
	/*padding: 0 20px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.corpo-barra_lateral-p_Mobile{
	display: none;
	width: 5vw;
	font-family: Light;
	font-size: 0.9em;
	color: #F7F7F7;
	line-height: 7vh; 
	text-align: center;
	position: fixed;
}
@media (max-width: 768px){
	.corpo-menu-hamburguer{
		display: block;
	}
	.corpo-menu-hamburguer:focus{
		outline: none;
	}
	.corpo-menu-hamburguer:focus ~ .nav-corpo-menu,
	.nav-corpo-menu:hover{
		display: flex;
	}
	.nav-corpo-menu{
		width: 70%;
		height: 100vh;
		padding-right: 2%;
		background-color: #00012E;
		position: fixed;
		top: 0;
		left:0;
		text-align:left;
		flex-direction: column;
		align-items: flex-start;
		display: none;
	}
	.corpo-barra_lateral{
		display: none;
		width: 8%;
		align-items: center;
	}

	/*.nav-corpo-menu .drop-menu{
		display: flex;
	}*/
}

@media(max-width: 768px){
	.nav-corpo-menu-item{
		color: #F7F7F7;
		padding: 0 0 0 20%;
    }
}
.corpo-body{
	width: 70%;
	height: 100%;
}
.corpo-caixa_Mãe{
	width: 81%;
	display: flex;
	flex-direction: column;
}
@media(max-width: 768px){
	.corpo-caixa_Mãe{
		width: 100vw;
		/*margin-top: 15vh;*/
	}
}
a:link{
	font-family: Medium;
	font-weight: bold;
	text-decoration: none;
}
@media(max-width: 768px){
	a:link{
		margin: 3% 0;
	}
}
a:link:focus{
	text-decoration: underline !important;
	color: #F26522;
}
.corpo-titulo{
	width: 65vw;
	height: 50vh;
	text-align: left;
	font-family: ExtraLight;
	font-weight: 400;
	color: #F26522;
	font-size: 2.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media(max-width: 768px){
	.corpo-titulo{
		width: 70vw;
		height: 60vh;
		font-size: 4vw;
		margin-left: 7%;
		line-height: 3em;
	}
}
.corpo-titulo-h1_1{
	width: 59vw;
	margin: 0;
	color: #2E3192;
	display: flex;
    justify-content: flex-start;
}
@media(max-width: 768px){
	.corpo-titulo-h1_1{
		width: 100%;
		padding: 0 0 0 25px;
	}
}
.corpo-titulo-h1_2 span{
	color: #2E3192;
}		
.corpo-dupla{
	display: flex;
	flex-direction: column;
}
@media(max-width: 768px){
	.corpo-dupla{
		margin: 22vh 0 0 0;
	}
}
.corpo-titulo-h1_2{
	width: 59vw;
	margin: 0;
}
@media(max-width: 768px){
	.corpo-titulo-h1_2{
		width: 100%;
		padding: 0 0 0 25px;
	}
}
.corpo-botoes{
	width: 27vw;
	height: 25vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.corpo-botoes:focus{
		outline: none;
	}
@media(max-width: 768px){
	.corpo-botoes{
		padding: 0;
		min-width: 75vw;
		margin-left: 12%; 
	}
}
.corpo-botoes-botão_p{
	width: 7vw;
	color: #2E3192;
	font-size: 1vw;
	text-align: center;
}
@media(max-width: 768px){
	.corpo-botoes-botão_p{
		font-size: 5vw;
		padding: 0 0 0 7px;
		margin: 0;
	}
}
.corpo-botoes-botão_solicitar{
	width: 8vw;
	height: 8vh;
	border: solid;
	border-width: 2px;
	border-color: #2E3192;
	background-color: #FCAF17;
	font-family: Semibold;
	font-weight: 400;
	color: #2E3192;
	text-align: left;
	display: flex;
	transition: opacity 2s,transform .3s;
}
.corpo-botoes-botão_solicitar:hover{
	transform: scale(1.2);
}
@media(max-width: 768px){
	.corpo-botoes-botão_solicitar{
		width: 33vw;
		height: 12vh;
	}
}
.corpo-botoes-botão_nosso{
	width: 8vw;
	height: 8vh;
	border: solid;
	border-width: 2px;
	border-color: #2E3192;
	font-family: Semibold;
	font-weight: 400;
	color: #2E3192;
	text-align: left;
	transition: opacity 2s,transform .3s;
}
.corpo-botoes-botão_nosso:hover{
	transform: scale(1.2);
}
@media(max-width: 768px){
	.corpo-botoes-botão_nosso{
		width: 33vw;
		height: 12vh;
	}
}
.corpo-caixa_1{
	width: 76.8vw;
	min-height: 80vh;
	padding: 5% 0% 0 4% ; 
	align-items: left;
	line-height: 1.3em;
	display: flex;
	flex-direction:column;
}
@media(max-width: 768px){
	.corpo-caixa_1{
		width: 100%;
		height: auto;
		padding: 0;
		margin-top: 8vh;
		flex-direction: column;
	}
}
.corpo-caixa_1-img{
	width: 105%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	-webkit-transition: 0.30s ease-in;
	-moz-transition: 0.30s ease-in;
	-o-transition: 0.30s ease-in;
	transition: 0.30s ease-in;
}
.corpo-caixa_1-img:hover{
	width: 100%;

}

@media(max-width: 768px){
	.corpo-caixa_1-img{
		width:  100%;
	}
	.corpo-caixa_1-img:hover{
		width: 90%;
	}
}
.corpo-caixa_1-sobre_mobile{
	display: none;
	background-color: transparent;
	border: none;
}
@media(max-width: 768px){
	.corpo-caixa_1-sobre_mobile{
		background-color: transparent;
		border: none;
		color:#F26522;
		text-decoration: underline #F26522 !important;
		font-size: 45px;
		display: block;
		padding: 0;
		margin:14% 0 5% 10%;
		font-size: 10vw;
	}
}	
.corpo-caixa_1-p{
	width: 42vw;
	padding: 25px 0 25px 0;
	font-family: SemiboldRegular;
	font-weight: 400;
	font-size: 1.3vw;
	color: #2E3192;
	text-align: left;
	line-height: 1.3em;
}
@media(max-width: 768px){
	.corpo-caixa_1-p{
		width: 75vw;
		margin-left: 10%;
		font-size: 4vw;
	}
}
.vnw{
	text-decoration: underline !important;
	color: #2E3192;
}
.corpo-P1{
	width: 90vw;
	text-align: left;
	font-family: SemiboldRegular;
	font-size: 1em;
}
.corpo-caixa_1-p2{
	width: 42vw;
	text-align: left;
	font-family: SemiboldRegular;
	font-size: 1.3vw;
	color: #2E3192;
	line-height: 1.3em;
}
@media(max-width: 768px){
	.corpo-caixa_1-p2{
		width: 75vw;
		margin-left: 10%;
		font-size: 4vw;
	}
}
.corpo-caixa_2{
	width: 80vw;
	height: 80vh;
	padding: 10% 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media(max-width: 768px){
	.corpo-caixa_2{
		width: 100%;
		height: auto;
		padding: 0;
		flex-direction: column;
	}
}	
.corpo-caixa_2-img{
	width: 30vw;
	height: 40vh;
	margin-left: -16.25vw;
	-webkit-transition: 0.30s ease-in;
	-moz-transition: 0.30s ease-in;
	-o-transition: 0.30s ease-in;
	transition: 0.30s ease-in;
}
.corpo-caixa_2-img:hover{
	width: 25vw;
	height: 35vh;
}
@media(max-width: 768px){
	.corpo-caixa_2-img{
		margin-top:20%;
		width: 100%;
		height: auto;
	}
	.corpo-caixa_2-img:hover{
		width: 90%;

	}
}
.corpo-caixa_2-textos{
	width: 50%;
	margin: 0 auto;
	font-family: SemiboldRegular;
	font-weight: 400;
	font-size: 1.3vw;
	color: #2E3192;
	text-align: left;
	display: flex;
	flex-direction: column;
}
@media(max-width: 768px){
	.corpo-caixa_2-textos{
		min-width: 84%;
		height: auto;
		font-size: 4vw;
	}
}
.corpo-caixa_2-titulo{
	font-family: Semibold;
	font-weight: 400;
	font-size: 1.5vw;
	color: #F26522;	
	line-height: 3em;
}
@media(max-width: 768px){
	.corpo-caixa_2-titulo{
		width: 51vw;
		line-height: 2em;
		font-size: 5vw;
	}
}
.corpo-caixa_2-subtitulo{
	margin: 0;
	font-family: Semibold;
	font-weight: bold;
	font-size: 1.3vw;
	line-height: 2em;
}
@media(max-width: 768px){
	.corpo-caixa_2-subtitulo{
		line-height: 4em;
		font-size: 4.3vw;
	}
}
@media(max-width: 768px){
	.corpo-caixa_box{
		width: 100%;
		height: auto;
		display: flex;
    	flex-direction: column;
	}
}
.corpo-Foto-Sobre-03{
	width: 105%;
	padding: 15% 0 0 0;
	-webkit-transition: 0.30s ease-in;
	-moz-transition: 0.30s ease-in;
	-o-transition: 0.30s ease-in;
	transition: 0.30s ease-in;
}
.corpo-Foto-Sobre-03:hover{
	width: 100%;
}
@media(max-width: 768px){
	.corpo-Foto-Sobre-03{
		width: 90%;
		margin: 0 0 0 10%;
	}
	.corpo-Foto-Sobre-03:hover{
		width: 85%;
	}
}
.p_versao_mobile{
	display: none;
}
@media(max-width: 768px){
	.p_versao_mobile{
		color:#F26522;
		text-decoration: underline #F26522 !important;
	    padding: 0;
	    margin: 14% 0 5% 10%;
	    font-size: 10vw;
	    display: block;
	}
}
.descricao--plataforma{
	width: 40vw;
	padding: 5% 0% 0 4%;
	font-family: SemiboldRegular;
	font-weight: 400;
	font-size: 1em;
	color: #2E3192;
}
@media(max-width: 768px){
	.descricao--plataforma{
		width: 80vw;
		height: auto;
		margin: 0 0 0 5%;
	}
}
.corpo-caixa_descricao{
	width: 12vw;
	padding: 0 0 20px 0;
	font-family: Semibold;
	font-weight: 400;
	font-size:1em;
	color: #2E3192;
}
@media(max-width: 768px){
	.corpo-caixa_descricao{
		width: 43%;
		line-height: 1.5em;
	}
}
.corpo-caixa_3{
	width: 30vw;
	min-height:30vh;
	padding: 5% 0% 0 4%;
	display: flex;
}
@media(max-width: 768px){
	.corpo-caixa_3{
		width: 100%;
		min-height: 30%;
		/*padding: 5% 0 0 4%;*/
		display: flex;
		flex-direction: column;
	}
}
.corpo-caixa_3--box{
	padding-right: 5vw;
}
@media(max-width: 768px){
	.corpo-caixa_3--box{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		align-items: center;
		margin-top: 30px;
	}
}
.corpo-caixa_3-img1{
	width: 10vw;
}
@media(max-width: 768px){
	.corpo-caixa_3-img1{
		width: 41%;

	}

}
img{
	width: 8vw;
}

@media (max-width: 768px){
	.corpo-caixa_3--box2 {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 30px;
	}
}

@media(max-width: 768px){
	.corpo-caixa_3-img2{
		width: 35%;
	}
}

.corpo-caixa_4{
	width: 30vw;
	min-height:30vh;
	padding: 5% 0% 0 4%;
	display: flex;
	flex-direction:space-between;
}
@media(max-width: 768px){
	.corpo-caixa_4{
		width: 100%;
		min-height: 30%;
		/*padding: 5% 0 0 4%;*/
		display: flex;
		flex-direction: column;
	}
}
.corpo-caixa_4--box{
	padding-right: 5vw;
}
@media(max-width: 768px){
	.corpo-caixa_4--box{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		align-items: center;
		margin-top: 30px;
	}
}
.corpo-caixa_4-img1{
	width:6vw;
}
@media(max-width: 768px){
	.corpo-caixa_4-img1{
		width: 30vw;
	}
}

@media (max-width: 768px) {
	.corpo-caixa_4--box2 {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-top: 30px;
	}
}

.corpo-caixa_4-img2{
	width:4vw;
}
@media(max-width: 768px){
	.corpo-caixa_4-img2{
		width: 20%;
	}
}
.corpo-caixa_5{
	padding: 5% 0% 0 4%;
	width: 20vw;
	height: auto;
}
@media(max-width: 768px){
	.corpo-caixa_5{
		width: 100%;
		min-height: 30vh;
	}
}
.corpo-caixa_5-p{
	padding: 0 0 20px 0;
	font-family: Black;
	font-weight: 700;
	color: #F26522;
	font-size: 1.5vw;
}
@media(max-width: 768px){
	.corpo-caixa_5-p{
		font-size: 4.5vw;
	}
}
.corpo-caixa_5-linguagens{
	width: 15vw;
	min-height: 30vh;
	border-style: dotted;
	color: #F26522;
	box-shadow: 10px 10px;
}
@media(max-width: 768px){
	.corpo-caixa_5-linguagens{
		width: 80%;
		min-height: 38vh;
		margin: 2% 8%;
		box-shadow: none;
	}
}
.corpo-caixa_5-linguagens-p{
	padding: 0 0 0 10%;
	text-align: left;
	font-family: Black;
	font-weight: 400;
	color: #2E3192;
	font-size: 1vw;
	line-height: 3vw;
}
@media(max-width: 768px){
	.corpo-caixa_5-linguagens-p{
		margin: 8% 20%;
		line-height:1em;
		font-size: 3vw; 
	}
}
.corpo-caixa_6{
	width: 100%;
	height: auto;
}
.corpo-caixa_6-p{
	width: 45vw;
	padding: 15% 0 5% 4%;
	font-family: SemiboldRegular;
	font-weight: 400;
	font-size: 1em;
	color: #2E3192;
}

@media (max-width: 768px) {
	.corpo-caixa_6-p{
		width: 89%;
		margin: -40px 0px 0px 18px;
	}
}

.corpo-caixa_6-h{
	display: none;
}
@media (max-width: 768px) {
	.corpo-caixa_6-h{
		width: 100%;
		margin-top: 5%;
		font-size: 1em;
		font-family: Semibold;
		color: #2E3192;
		display: flex;
		justify-content: center;
		align-items: center;

	}
}
.corpo-caixa_6-projetos{
  	width: 100%;
  	height: auto;
  	margin: 0;
  	padding: 0;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}
@media (max-width: 768px){
	.corpo-caixa_6-projetos{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}
.corpo-caixa_6-img1{
	min-width: 70%;
	padding: 0 0% 0 3%;
	transition: transform .5s;
    box-sizing: border-box;
}/*
.corpo-caixa_6-img1:hover{
	overflow: hidden;*/
}
@media(max-width: 768px){
	.corpo-caixa_6-img1{
		width: 80%;
	}
}
.corpo-caixa_6-seta{
	width: 30%;
	/*box-sizing: border-box;
	display: flex;
	justify-content: center;*/
	align-items: center;
}
@media(max-width: 768px){
	.corpo-caixa_6-seta{
		width: 20%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}
.corpo-caixa_6-setaEsquerda{
	padding: 0 1vw 0 0;
	font-family: SemiboldRegular;
	font-size: 2.125em;
	color: #2E3192;
}
@media (max-width: 768px){
	.corpo-caixa_6-setaEsquerda{
		font-size: 6vw;
	}

}
.corpo-caixa_6-setaDireita{
	font-family: SemiboldRegular;
	font-size: 2.125em;
	color: #2E3192;
}
@media (max-width: 768px){
	.corpo-caixa_6-setaDireita{
		font-size: 6vw;
	}
}
.corpo-caixa_7{
	min-width: 96.3vw;
	min-height: 32vh;
	margin-left: -16.25vw;
	margin-top:15%;
	margin-bottom: 18%;
	background-color: #FCAF17;
}
@media(max-width: 768px){
	.corpo-caixa_7{
		height: 67vh;
	}
}
.corpo-caixa_7-box{
	min-width: 96.3vw;
	height: 30vh;
	/*position: absolute;*/
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	z-index: 1;
}
@media(max-width: 768px){
	.corpo-caixa_7-box{
		height: 87vh;
		display: flex;
		flex-direction: column;
	}
}
.corpo-caixa_7-p{
	width: 20vw;
	font-family: Semibold;
	font-weight: 400;
	font-size: 1em;
	color: #2E3192;
}
@media (max-width: 768px){
	.corpo-caixa_7-p{
		width: 73%;
		margin: 0 0 0 15%;
	}
}
.corpo-caixa_7-img{
	/*padding: 0 0% 0 15%;*/
	width: 32vw;
}
@media(max-width: 768px){
	.corpo-caixa_7-img{
		width: 100%;
	}
}
.corpo-caixa_8{
	width: 96.3vw;
	height: auto;
	margin: 0 -16.3vw;
	white-space: nowrap;
	/*bottom: 0;
        position: fixed;*/
}
@media(max-width: 768px){
	.corpo-caixa_8{
		width: 115vw;
		height: auto;
	}
}
.p_versao_mobileContato{
	display: none;
}
@media(max-width: 768px){
	.p_versao_mobileContato{
		padding: 0;
		margin: 14% 0 5% 20%;
		color: #F26522;
		text-decoration: underline #F26522 !important;
		font-size: 2em;
		display: block;
	}
}
.corpo-caixa_8-contact{
	width: 96;
	min-height: 40vh;
	padding: 0 0 15% 15%;
	font-family: Medium;
	font-weight: 400;
	font-size: 1.2vw;
	color: #FCAF17;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_titulo{
	padding: 0 0 2% 0;
}
.corpo-caixa_8-p2{
	width: 99.9%;
	padding: 1% 0 1.2% 20%;
	line-height: 2em;
	font-family: Medium;
	font-weight: 400;
	font-size: 1vw;
	color: #FCAF17;
	background-color: #00012E;
	bottom: 0;
        position: fixed;
}
@media (max-width: 768px){
	.corpo-caixa_8-p2{
		padding: 0 0 0 18%;
	}
}
.corpo-caixa_8-p2-parcerias{
	width: 77vw;
	line-height: 2em;
	display: flex;
	align-items: center;
	font-size: 0.9vw;
}
@media (max-width: 768px){
	.corpo-caixa_8-p2-parcerias{
		display: flex;
		flex-direction: column;
		white-space: nowrap;
		width: 30%;
	}
}
.corpo-caixa_8-p2-parcerias-1{
	width: 20vw;
	line-height: 2em;
	display: flex;
	flex-direction: column;
}
@media (max-width:768px){
	.corpo-caixa_8-p2-parcerias-1{
		padding: 30% 0 0 0;
	}
}
.corpo-caixa_8-p2-parcerias-2{
	width: 20vw;
	height: 10vh;
	margin: 0 0 0 5%;
	line-height: 2em;
	display: flex;
	flex-direction: column;
}
@media (max-width:768px){
	.corpo-caixa_8-p2-parcerias-2{
		padding: 30% 0 0 0;
	}
}
.corpo-caixa_8-p2-parcerias-2-span{
	min-width: 15vw;
	display: flex;
	justify-content: space-between;
}
@media(max-width: 768px){
	.corpo-caixa_8-p2-parcerias-2-span{
		width: 65vw;
	}
}
/*.corpo-caixa_8-p2-parcerias-3{
	width: 20%;
    margin: 0 0 0 10%;
	display: flex;
	flex-direction: column;
}
@media (max-width: 768px){
	.corpo-caixa_8-p2-parcerias-3{
		margin: 70% 62% 0 0;
	}
}*/
/*.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/
.contact-form{
	/*width: 100%;
	height: auto;*/
	display: flex;
    flex-direction: column;
    align-items: center;
}
/*.contact-inputTexto{
	width: 50.1%;
	display: flex;
	align-self: flex-end;
	margin-top: 1%;
}*/
.contact-input{
	width: 50vw;
    padding: 5px;
    box-sizing: border-box;
    margin: 8px 0;
}
.submit{
	min-width: 5%;
	height: auto;
    margin: 1% 0;
    padding: 12px 24px;
    background: #fff;
    color: #FCAF17;
}
.corpo-caixa_8-pWhite{
	color: #F5F5F5;
	text-decoration: underline #fff !important;
	font-size: 0.9vw;
}
/*.orpo-caixa_8-p-enviar{
	text-decoration: underline #FCAF17 !important;	
	margin-top:6vh;
}
.corpo-caixa_8-pbranco{
	color: #F5F5F5;
}*/
.corpo-caixa_8-pOrange{
	line-height: 2em;
	font-family: Medium;
	font-weight:bold;
	color: #F26522;
	font-size: 0.9vw;
}
.corpo-caixa_8-pOrange a{
	color: #F26522;
}
@media(max-width: 768px){
	.corpo-caixa_8-pOrange{
		min-width: 86vw;
		margin: 25% 0;
    	line-height: 2.5em;
	}
}