*,*:after,*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	/*min-height: 100vh;*/
	background-color: #f5f5f5;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
@media( max-width: 768px){
	body{
		flex-direction: column;
	}
}
.corpo-barra_lateral{
	width: 30px;
	/*min-height: 100%;*/
	background: #2E3192;
	overflow: hidden;
	position: absolute;
	z-index: 2;
	top:0;
	left:0;
	/*display: none;*/
}
@media(max-width: 768px){
	.corpo-barra_lateral{
		display: none;
		width: 8%;
		align-items: center;
	}
}
.corpo-barra_lateral-p{
	min-width: 32px;
	min-height: 3vh;
	padding-right:5px;
	margin: 0;
	font-family: Light;
	font-weight: 400;
	font-size: 15px;
	color: #F7F7F7;
	line-height: 2em; 
	text-align: right;
	display: flex;
	flex-direction: column;
	align-content: space-around;
}
@media (max-width: 768px){
	.corpo-barra_lateral-p{
		display: none;
	}
}
.corpo-body{
	width: 20%;
	/*min-width: 250px;*/
	min-height: 100vh;
	position: relative;
}
@media(max-width: 768px){
	.corpo-body{
		width: 100%;
    	min-height: 16vh;	
    }
}
.corpo-menu{
	width: 18%;
	/*min-width: 200px;*/
	min-height: 50vh;
	line-height:5vh;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
@media (max-width: 768px){
	.corpo-menu{
		width: 100%;
		min-height: 16vh;
		padding: 0 2%;
		margin: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		background-color: #F5F5F5;
		z-index: 99;
		left: 0;
	}
}
.corpo-menu-logo{
	width: 10vw;
}
@media (max-width: 768px){
	.corpo-menu-logo{
		width: 35%;
		margin-right: 15%;
	}
}
.corpo-menu-hamburguer{
	background-color: transparent;
	border: none;
	font-size: 45px;
	display: none; 
	color: #2E3192;
	padding: 0;
	margin-left: 5%;			
}
.nav-corpo-menu{
	/*position: fixed;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.nav-corpo-menu-item{
	font-size: 18px;
	font-family: Medium;
	font-weight: 400;
	line-height: 39px;
	color: #2E3192;
	text-decoration: none;
}
.nav-corpo-menu-item:hover,
.nav-corpo-menu-item:active{
	text-decoration: underline;
	color: #F26522;
}
.corpo-barra_lateral-p_Mobile{
	display: none;
}
@media (max-width: 768px){
	.corpo-menu-hamburguer{
		display: block;
	}
	.corpo-menu-hamburguer:focus{
		outline: none;
	}
	.nav-corpo-menu{
		width: 70%;
		height: 100vh;
		background-color: #00012E;
		position: fixed;
		top: 0;
		left:0;
		text-align:left;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	.corpo-barra_lateral-p_Mobile{
		width: 30px;
		background: #2E3192;
		color: #F7F7F7;
		font-family: Light;
		font-size: 0.9em;
		line-height: 7vh; 
		text-align: center;
		display: block;
		position: absolute;
		top:0;
		left:0;
	}
	.nav-corpo-menu-item{
		color: #F7F7F7;
		padding: 0 0 0 20%;
    }
}

.corpo{
	width: 80%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-left: 0.15vw #2E3192 solid;
}
@media (max-width: 768px){
	.corpo{
		width: 100%;
		min-height: 100vh;
		flex-direction: column;
		border:none;
	}
}
.corpo-caixa_Mãe{
	width: 100%;
	padding-left:50px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
@media(max-width: 768px){
	.corpo-caixa_Mãe{
		width: 100vw;
		padding: 0;
	}
}
.corpo-dupla{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
@media(max-width: 768px){
	.corpo-dupla{

	}
}
.corpo-titulo{
	width: 65vw;
	min-height: 20vh;

	color: #F26522;
	font-family: ExtraLight;
	font-weight: 400;
	font-size: 2.5vw;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
@media(max-width: 768px){
	.corpo-titulo{
		width: 90vw;
		padding-left: 50px;
		font-size: 4vw;
	}
}
.corpo-titulo-h1_1{
	width: 59vw;
	margin: 0;
	font-family: Bold;
	font-weight: 400;
	color: #2E3192;
	display: flex;
    justify-content: flex-start;
}
@media(max-width: 768px){
	.corpo-titulo-h1_1{
		width: 100%;
	}
}
.css-typing{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.corpo-titulo-h1_2{
	margin: 0;
	font-family: Bold;
	font-weight: 400;

	border-right: .1em solid #2E3192;
	white-space: nowrap;
	overflow: hidden;
}
.corpo-titulo-h1_2 span{
	color: #2E3192;
}

.css-typing h1:nth-child(1) {
  max-width: 100%;
  opacity: 0;
  -webkit-animation: type 4s steps(40, end);
  animation: type 4s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing h1:nth-child(2) {
  max-width: 100%;
  opacity: 0;
  -webkit-animation: type2 4s steps(40, end);
  animation: type2 4s steps(40, end);
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing h1:nth-child(3) {
  max-width: 100%;
  opacity: 0;
  -webkit-animation: type3 4s steps(40, end), blink .5s step-end infinite alternate;
  animation: type3 4s steps(40, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {max-width: 0;}
  1% {opacity: 1;}
  99.9% {border-right: .1em solid #2E3192;}
  100% {opacity: 1;border: none;}
}

@-webkit-keyframes type {
  0% {max-width: 0;}
  99.9% {border-right: .1em solid #2E3192;}
  100% {opacity: 1;border: none;}
}

@keyframes type2 {
  0% {max-width: 0;}
  1% {opacity: 1;}
  99.9% {border-right: .1em solid #2E3192;}
  100% {opacity: 1;border: none;}
}

@-webkit-keyframes type2 {
  0% {max-width: 0;}
  1% {opacity: 1;}
  99.9% {border-right: .1em solid #2E3192;}
  100% {opacity: 1;border: none;}
}

@keyframes type3 {
  0% {max-width: 0;}
  1% {opacity: 1;}
  100% {opacity: 1;}
}

@-webkit-keyframes type3 {
  0% {max-width: 0;}
  1% {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes blink {
  50% {border-color: transparent;}
}
@-webkit-keyframes blink {
  50% {border-color: transparent;}
}
.corpo-botoes{
	width: 25%;
	min-height: 25vh;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media(max-width: 768px){
	.corpo-botoes{
		width: 100%;
		max-width: 450px;
		min-height: 20vh;
		padding: 0 50px;
	}
}
.corpo-botoes__btn{
	width: 8vw;
	min-height: 8vh;
	border:solid 2px #2E3192;
	font-family: Semibold;
	font-weight: 400;
	font-size: 1vw;
	color: #2E3192;
	text-align: left;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.corpo-botoes__btn span{
	margin: 10px;
}
.corpo-botoes__btn:hover{
	transform: scale(1.2);
}

@media(max-width: 768px){
	.corpo-botoes__btn{
		width: 45%;
		min-width: 120px;
		max-width: 150px;
		font-size: 18px;
	}
	.corpo-botoes__btn span{
		/*padding: 10px;*/
	}
}
.corpo-botoes__btn--solicitar{
	background-color: #FCAF17;
	transition: opacity 2s,transform .3s;
}

.corpo-botoes__btn--nosso{
	background-color: #D5D5D5;
	transition: opacity 2s,transform .3s;
}

.corpo-caixa_1{
	width: 100%;
	min-height: 80vh;
	align-items: left;
	line-height: 1.3em;
	display: flex;
	flex-direction:column;
}
@media(max-width: 768px){
	.corpo-caixa_1{
		width: 100%;
		margin: 8vh 0;
		padding: 0;
		align-items: center;
	}
}
.corpo-caixa_1-img{
	width: 100%;

}

@media(max-width: 768px){
	.corpo-caixa_1-img{
		width:  100%;
		margin-bottom: 30px;
	}
}
.corpo-caixa_1-sobre_mobile{
	display: none;
	background-color: transparent;
	border: none;
}
@media(max-width: 768px){
	.corpo-caixa_1-sobre_mobile{
		display: block;
		width: 80%;
		/*margin-left: 50px;*/
		margin-bottom: 30px;
		font-family: Bold;
		color:#F26522;
		text-decoration: underline;
		font-size: 45px;
		padding: 0;
		font-size: 10vw;
	}
}	
.corpo-caixa_1-p{
	width: 70%;
	margin-top:30px;
	font-family: SemiboldRegular;
	font-weight:16px;
	line-height: 26px;
	color: #2E3192;
}
@media(max-width: 768px){
	.corpo-caixa_1-p{
		width: 80%;
		font-size: 4vw;
	}
}
.vnw{
	text-decoration: underline;
	color: #2E3192;
}
.corpo-P1{
	width: 90vw;
	text-align: left;
	font-family: SemiboldRegular;
	font-size: 1em;
}
.corpo-caixa_1-p2{
	width: 42vw;
	text-align: left;
	font-family: SemiboldRegular;
	font-size: 1.5vw;
	color: #2E3192;
	line-height: 1.3em;
}
@media(max-width: 768px){
	.corpo-caixa_1-p2{
		width: 75vw;
		margin-left: 10%;
		font-size: 4vw;
	}
}
.corpo-caixa_2{
	width: 100%;
	min-height: 30vh;
	padding: 10% 0 0 0;
	margin-bottom:50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media(max-width: 768px){
	.corpo-caixa_2{
		width: 100%;
		padding: 0;
		margin: 0;
		flex-direction: column;
	}
}	
.corpo-caixa_2-img{
	width: 30vw;
	position: absolute;
	left:30px;
	z-index: -1;
}
@media(max-width: 768px){
	.corpo-caixa_2-img{
		width: 90%;
		margin-bottom: 30px;
		align-self: flex-start;
		position: relative;
		z-index: 1;
		left: 0;
	}
}
.corpo-caixa_2-textos{
	width: 70%;
	margin-left:50px;
	font-family: SemiboldRegular;
	font-weight: 400;
	font-size: 1.3vw;
	color: #2E3192;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}
@media(max-width: 768px){
	.corpo-caixa_2-textos{
		width: 100%;
		margin:0;
		align-self: inherit;
		align-items: center;
		justify-content: flex-start;
	}
}
.corpo-caixa_2-titulo{
	margin-bottom:20px;
	font-family: Bold;
	font-weight: 400;
	font-size: 1.3vw;
	color: #F26522;	
	line-height: 3em;
}

@media(max-width: 768px){
	.corpo-caixa_2-titulo{
		width: 80%;
		padding-right: 100px;
		line-height: 1.5em;
		font-size: 19px;
	}
}
.corpo-caixa_2-subtitulo{
	color: #2E3192;
	font-family: Bold;
	font-weight: bold;
	font-size: 1.3vw;
	margin: 0;
	line-height: 2em;
}
.corpo-caixa_2-p{
	margin-bottom: 20px;
	font-family:SemiboldRegular;
	font-weight: 400;
	font-size: 1.3vw;
	color: #2E3192;
	line-height: 2em;
}
@media(max-width: 768px){
	.corpo-caixa_2-subtitulo,
	.corpo-caixa_2-p{
		width: 80%;
		font-size: 19px;
	}
}
.corpo-caixa_box{
	width: 100%;
}
@media(max-width: 768px){
	.corpo-caixa_box{
		width: 100%;
		margin-top: 30px;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
}
.corpo-Foto-Sobre-03{
	width: 95%;
	margin-left:-50px;
	margin-bottom: 20px;
	/*padding: 15% 0 0 0;*/
}
@media(max-width: 768px){
	.corpo-Foto-Sobre-03{
		width: 90%;
		margin:0;
		margin-bottom: 50px;
		padding-bottom: 50px;
		border-bottom: 1px #2E3192 solid;
		align-self: flex-end;
	}
}
.corpo__titulo{
	margin-bottom: 20px;
	font-family: Bold;
	color:#F26522;
	text-decoration: underline;
    font-size: 3vw;
}
@media(max-width: 768px){
	.corpo__titulo{
		width: 80%;
	    padding: 0;
	    font-size: 8vw;
	}
}
.descricao--plataforma{
	width: 70%;
	margin-bottom: 20px;
	font-family: SemiboldRegular;
	font-weight: 400;
	font-size: 1.3vw;
	color: #2E3192;
}
@media(max-width: 768px){
	.descricao--plataforma{
		width: 80%;
		font-size: 4vw;
	}
}
.corpo-caixa_descricao{
	width: 12vw;
	padding: 0 0 20px 0;
	font-family: Semibold;
	font-weight: 400;
	font-size:1.09vw;
	color: #2E3192;
}
@media(max-width: 768px){
	.corpo-caixa_descricao{
		width: 43%;
		line-height: 1.5em;
		font-size: 4vw;
		margin-left: 20px;
	}
}
.corpo-caixa_sobre{
	width: 100%;
	margin-bottom:50px;
}
.corpo-caixa_3{
	width: 30vw;
	min-height:30vh;
	margin-bottom: 30px;
	display: flex;
}
@media(max-width: 768px){
	.corpo-caixa_sobre{
		margin:0;
		display: flex;
		flex-direction: column;
		align-items: center; 
	}
	.corpo-caixa_3{
		width: 80%;
		min-height: 30%;
		display: flex;
		flex-direction: column;
	}
}
.corpo-caixa_3--box{
	padding-right: 5vw;
}

@media(max-width: 768px){
	.corpo-caixa_3--box{
		padding: 0;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		align-items: center;
		margin-top: 30px;
	}
}
.corpo-caixa_3-img1{
	width: 10vw;
}
@media(max-width: 768px){
	.corpo-caixa_3-img1{
		width: 41%;
	}
}
img{
	width: 8vw;
}
.corpo-caixa_3--box2{
	padding: 0;
	padding-left: 5%;
}

@media (max-width: 768px){
	.corpo-caixa_3--box2 {
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}
}

@media(max-width: 768px){
	.corpo-caixa_3-img2{
		width: 35%;
	}
}

/*.corpo-caixa_4{
	width: 30vw;
	min-height:30vh;
	padding: 5% 0% 0 4%;
	display: flex;
	flex-direction:space-between;
}
@media(max-width: 768px){
	.corpo-caixa_4{
		width: 100%;
		min-height: 30%;
		
	}
}*/
.corpo-caixa_4--box{
	padding-right: 5vw;
}
/*@media(max-width: 768px){
	.corpo-caixa_4--box{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		align-items: center;
		margin-top: 30px;
	}
}*/
/*.corpo-caixa_4-img1{
	width:6vw;
}*/
/*@media(max-width: 768px){
	.corpo-caixa_4-img1{
		width: 30vw;
	}
}*/

@media (max-width: 768px) {
	.corpo-caixa_4--box2 {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-top: 30px;
	}
}

.corpo-caixa_4-img2{
	width:4vw;
}
@media(max-width: 768px){
	.corpo-caixa_4-img2{
		width: 20%;
	}
}
.corpo-caixa_5{
	width: 20vw;
}
@media(max-width: 768px){
	.corpo-caixa_5{
		width: 100%;
		min-height: 30vh;
		margin-bottom:50px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.corpo-caixa_5-p{
	padding: 0 0 20px 0;
	font-family: Black;
	font-weight: 700;
	color: #F26522;
	font-size: 1.5vw;
}
@media(max-width: 768px){
	.corpo-caixa_5-p{
		width: 80%;
		font-size: 4.5vw;
	}
}
.corpo-caixa_5-linguagens{
	width: 15vw;
	min-height: 30vh;
	border-style: dotted;
	color: #F26522;
	box-shadow: 10px 10px;
}
@media(max-width: 768px){
	.corpo-caixa_5-linguagens{
		width: 80%;
		height: auto;
		/*margin: 2% 8%;*/
		padding:70px;
		box-shadow: none;
		/*display: flex;*/
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
}
.corpo-caixa_5-linguagens-p{
	padding: 0 0 0 10%;
	text-align: left;
	font-family: Black;
	font-weight: 400;
	color: #2E3192;
	font-size: 1vw;
	line-height: 3vw;
}
@media(max-width: 768px){
	.corpo-caixa_5-linguagens-p{
		padding: 0;
		font-family: Medium;
		text-align: left;
		line-height:1.5em;
		font-size: 25px; 
	}
}
.corpoCaixa__hr{
	width: 90%;
	border:none;
	border-bottom: #2E3192 solid 1px;
	align-self: flex-end;
	display: none;
}
@media(max-width: 768px){
	.corpoCaixa__hr{
		display: block;
	}
}
.corpo-caixa_6{
	width: 100%;
}
.corpo-caixa_6-p{
	width: 70%;
	font-family: SemiboldRegular;
	font-weight: 400;
	font-size: 1em;
	color: #2E3192;
}

@media (max-width: 768px) {
	.corpo-caixa_6{
		width: 100%;
		margin:50px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.corpo-caixa_6-p{
		width: 80%;
	}
}
.corpo-caixa_6-projetos{
  	width: 100%;
  	margin: 0;
  	padding: 0;
  	display: flex;
  	justify-content: flex-start;
  	align-items: center;
}
@media (max-width: 768px){
	.corpo-caixa_6-projetos{
		width: 100%;
		display: flex;

		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}
.link-img{
	width: 80%;
	margin:20px 0;
}
.corpo-caixa_6-img1{
	width: 100%;
	/*padding: 0 0% 0 3%;*/
	transition: transform .5s;
    box-sizing: border-box;
}

@media(max-width: 768px){
	.link-img{
		width:95%;
	}
	.corpo-caixa_6-img1{
		width: 100%;
	}
}
.corpo-caixa_6-seta{
	width: 30%;
	margin-left: 20px;
}
@media(max-width: 768px){
	.corpo-caixa_6-seta{
		width: 80%;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
}
.corpo-caixa_6-mobile{
	display: none;
}
/*.corpo-caixa_6-mobile_Instituto{
	display: none;
	width: 94%;
}*/
@media (max-width: 768px) {
	.corpo-caixa_6-mobile{
		width: 100%;
		font-size: 1.5em;
		font-family: Semibold;
		color: #2E3192;
		text-align: center;
		text-decoration: none;
		display: block;
		/*display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;*/

	}
	/*.corpo-caixa_6-mobile_Instituto{
		width: 99%;
		font-size: 4vw;
		font-family: Semibold;
		color: #2E3192;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}*/
}
.corpo-caixa-seta__icon{
	font-family: SemiboldRegular;
	font-size: 3em;
	color: #2E3192;
	cursor: pointer;/*
	border-color: transparent;*/
}
.corpo-caixa-seta__icon:focus{
	outline: none;
}
@media (max-width: 768px){
	.corpo-caixa-seta__icon{
		margin:10px;
		font-size: 2.5em;
    }
}
/*.corpo-caixa_6-setaDireita{
	font-family: SemiboldRegular;
	font-size: 3em;
	color: #2E3192;
	cursor: pointer;
}
@media (max-width: 768px){
	.corpo-caixa_6-setaDireita{
		font-size: 6vw;
    }
}*/
.corpo-caixa_7{
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	display: flex;
	align-items: center;
	
}
@media(max-width: 768px){
	.corpo-caixa_7{
		width: 100%;
		min-height: 30vh;
		margin:0;
		padding-top: 10px;
		background: #FCAF17;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}
}
.corpo-caixa_7-box{
	min-width: 150%;
	height: 50%;
	background-color: #FCAF17;
	position: absolute;
	z-index: -1;
	left:-50%;
	top:25%;
}
@media(max-width: 768px){
	.corpo-caixa_7-box{
		display: none;
	}
}
.corpo-caixa_7-p{
	width: 90%;
	padding:30px;
	font-family: Semibold;
	font-weight: 400;
	font-size: 1.09vw;
	color: #2E3192;
}
@media (max-width: 768px){
	.corpo-caixa_7-p{
		width: 90%;
		font-size: 1.2em;
	}
}
.corpo-caixa_7-img{
	width: 55%;
}
@media(max-width: 768px){
	.corpo-caixa_7-img{
		width: 100%;
	}
}
/*Footer*/
.corpo-caixa_8{
    width: 100%;
    min-height: 100vh;
    padding-top: 30px;
    padding-left: 20%;
    background-color: #00012E;
}
@media(max-width: 768px){
	.corpo-caixa_8{
		width: 100%;
		min-height: auto;
		margin: 0;
   		padding: 50px 0;
   		display: flex;
   		flex-direction: column;
   		align-items: center;
	}
}
.p_versao_mobileContato{
	margin:50px;
	font-family: Bold;
	font-weight: 400;
    font-size: 3vw;
	color:#F26522;
	text-decoration: underline #F26522 !important;
}
@media(max-width: 768px){
	.p_versao_mobileContato{
		width: 80%;
		margin: 0;
		margin-bottom: 30px;
		padding: 0;
		font-size: 8vw;
	}
}
.corpo-caixa_8-contact{
	width: 100%;
	padding: 50px;
	font-family: Medium;
	font-weight: 400;
	color: #FCAF17;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
@media(max-width: 768px){
	.corpo-caixa_8-contact{
		width: 80%;
		margin: 0;
		padding-left: 0;
	}
}
.contact_titulo{
	
}
@media(max-width: 768px){
	.contact_titulo{
	    width: 100%;
	    font-size: 18px;
	}
}
.contact-form{
	width: 50%;
}
@media(max-width: 768px){
	.contact-form{
		width: 100%;
	}
}
.contact-form label{
	display: flex;
	padding:10px 0; 
	font-size: 18px;
}
.contact-input{
	width: 100%;
    padding-left: 10px;
    background: none;
    border:none;

    font-family: Medium;
    font-weight: 400;
    color:#2E3192;
}
.contact-input:focus{
	outline: none;
}
.contact-input--textarea{
	max-height: 10vh;
	overflow: hidden;
	resize: none;
	color:#fff;
}
@media(max-width: 768px){
	.contact-input{
		width:80%;
		font-size: 18px;
	}
}
.submit{
	min-width: 5%;
	text-decoration: underline;
    border:none;
    background: none;
    color: #FCAF17;
}
@media(max-width: 768px){
	.submit{
		font-size: 18px;
	}
}
.corpo-caixa_8-p2{
	width: 100%;
	line-height: 2em;
	font-family: Medium;
	font-weight: 400;
	font-size: 1vw;
	color: #FCAF17;
}
@media (max-width: 768px){
	.corpo-caixa_8-p2{
		width: 80%;
	    min-height: 30vh;
	}
}
.corpo-caixa_8-p2-parcerias{
	width: 70%;
	margin-left:50px;
	margin-bottom: 30px;
	line-height: 2em;
	display: flex;
	align-items: center;
	font-size: 0.9vw;
}
@media (max-width: 768px){
	.corpo-caixa_8-p2-parcerias{
		display: flex;
		margin: 0;
		margin-bottom: 30px;
		flex-direction: column;
		align-items: flex-start;
		white-space: nowrap;
		width: 100%;
		font-size: 18px;
	}
}
.corpo-caixa_8-p2-parcerias-1{
	min-width: 20%;
	margin-right: 50px;
	line-height: 2em;
	display: flex;
	flex-direction: column;
}
@media (max-width:768px){
	.corpo-caixa_8-p2-parcerias-1{
		
		max-width: 100%;
	}
}
.corpo-caixa_8-p2-parcerias-2{
	min-width: 20%;
	height: 10vh;
	padding: 0.9% 0 0 0;
	line-height: 2em;
	display: flex;
	flex-direction: column;
}
@media (max-width:768px){
	.corpo-caixa_8-p2-parcerias-2{
		/*padding: 30% 0 0 0;*/
		width: 100%;

	}
}
.corpo-caixa_8-p2-parcerias-2-span{
	min-width: 15vw;
	display: flex;
	justify-content: space-between;
}
@media(max-width: 768px){
	.corpo-caixa_8-p2-parcerias-2-span{
		width: 60%;
	}
}

.corpo-caixa_8-pWhite{
	color: #F5F5F5;
	text-decoration: underline #fff !important;
	font-size: 0.9vw;
}
@media(max-width: 768px){
	.corpo-caixa_8-pWhite{
		font-size: 4vw;
	}
}
.corpo-caixa_8-pOrange{
	margin-left:50px;
	margin-bottom: 30px;
	line-height: 2em;
	font-family: Medium;
	font-weight:bold;
	color: #F26522;
	font-size: 0.9vw;
}
.corpo-caixa_8-pOrange a{
	color: #F26522;
}
@media(max-width: 768px){
	.corpo-caixa_8-pOrange{
		width: 100%;
    	margin: 0;
		line-height: 1.9em;
    	font-size: 14px;
	}
	.corpo-caixa_8-pOrange p{
		width: 100%;
	}
}