body{
	width: 100%;
	margin: 0;
}
.corpo{
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	background-color: #F5F5F5;
	display: flex;
	justify-content: space-between;
}
.corpo-barra_lateral{
	width: 2.5vw;
	height: 100%;
	background-color: #2E3192;
	display: flex;
	flex-flow:column nowrap;
}
.corpo-barra_lateral-p{
	width: 2.2vw;
	margin: 0;
	min-height: 3vh;
	font-family: Light;
	font-weight: 400
	font-size: 15px;
	color: #F7F7F7;
	line-height: 5vh; 
	text-align: center;
}
.corpo-menu{
	width: 18.7vw;
	height: 100vh;
	text-align: left;
	line-height:5vh;
	border-right: 0.1vw #2E3192 solid ;
	position: fixed;
	display: flex;
	flex-direction: column;
}
.corpo-menu-logo{
	width: 20vw;
	display: flex;
	align-self: flex-start;
}
dt{
	padding: 0 20px;
}
.corpo-body{
	width: 70%;
	height: 100%;
}
.corpo-pescoco{
	width: 81%;
	display: flex;
	flex-direction: column;
}
a:link{
	font-family: Medium;
	font-weight: 400;
	text-decoration: none;
}
.corpo-titulo{
	width: 60vw;
	height: 50vh;
	padding: 0 4%;
	margin: 77px 0 0 0;
	text-align: left;
	font-family: ExtraLight;
	font-weight: 400;
	color: #F26522;
	font-size: 2em;
}
.corpo-titulo-h1_1{
	margin: 0;
	color: #2E3192;
}
.corpo-titulo-h1_2 span{
	color: #2E3192;
}
.corpo-dupla{
	display: flex;
	flex-direction: column;
}
.corpo-titulo-h1_2{
	margin: 0;
}
/* DEMO-SPECIFIC STYLES
.typewriter h1 {
  color: #F26522;
  /*width: 18vw;
  height:20vh;
  font-family: SemiboldRegular;
  font-size: 4em;
  text-align: left;
  overflow: hidden; 
  border-right: .10em solid purple; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}*/
.corpo-botoes{
	width: 18vw;
	padding: 4%;
	display: flex;
	justify-content: space-between;
}
.corpo-botoes-botão_solicitar{
	width: 8vw;
	height: 8vh;
	border: solid;
	border-width: 2px;
	border-color: #2E3192;
	background-color: #FCAF17;
	font-family: Semibold;
	font-weight: 400
	color: #2E3192;
	text-align: left;
	display: flex;
}
.corpo-botoes-botão_nosso{
	width: 8vw;
	height: 8vh;
	border: solid;
	border-width: 2px;
	border-color: #2E3192;
	font-family: Semibold;
	font-weight: 400
	color: #2E3192;
	text-align: left;
}
.corpo-caixa_1{
	width: 76.8vw;
	height: 98vh;
	padding: 5% 0% 0 4% ; 
	align-items: left;
	line-height: 1.3em;
	display: flex;
	flex-direction:column;
}
.corpo-caixa_1-img{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.corpo-caixa_1-p{
	width: 42vw;
	font-family: SemiboldRegular;
	font-weight: 400;
	font-size: 1em;
	color: #2E3192;
	text-align: left;
}
.vnw{
	text-decoration: underline !important;
	color: #2E3192;
}
.corpo-P1{
	width: 90vw;
	text-align: left;
	font-family: SemiboldRegular;
	font-size: 1em;
}
.corpo-caixa_1-p2{
	width: 42vw;
	text-align: left;
	font-family: SemiboldRegular;
	font-size: 1em;
	color: #2E3192;
}
.corpo-caixa_2{
	width: 80vw;
	height: 80vh;
	padding: 10% 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.corpo-caixa_2-img{
	width: 30vw;
	height: 40vh;
	margin-left: -16.25vw;
}
.corpo-caixa_2-textos{
	width: 50%;
	margin: 0 auto;
	font-family: SemiboldRegular;
	font-weight: 400;
	font-size: 1em;
	color: #2E3192;
	text-align: left;
	display: flex;
	flex-direction: column;
}
.corpo-caixa_2-titulo{
	font-family: Semibold;
	font-weight: 400;
	font-size: 1em;
	color: #F26522;	
}
.corpo-caixa_2-subtitulo{
	margin: 0;
	font-family: Semibold;
	font-weight: 400;
	font-size: 1em;
}
.corpo-Foto-Sobre-03{
	width: 66vw;
}
.descricao--plataforma{
	width: 40vw;
	padding: 5% 0% 0 4%;
	font-family: SemiboldRegular;
	font-weight: 400;
	font-size: 1em;
	color: #2E3192;
}
.corpo-caixa_descricao{
	width: 12vw;
	font-family: Semibold;
	font-weight: 400;
	font-size:1em;
	color: #2E3192;
}
.corpo-caixa_3{
	width: 30vw;
	height:30vh;
	padding: 5% 0% 0 4%;
	display: flex;
}
.corpo-caixa_3--box{
	padding-right: 5vw;
}
.corpo-caixa_3-img1{
	width: 10vw;
}
img{
	width: 8vw;
}
.corpo-caixa_4{
	width: 30vw;
	height:30vh;
	padding: 5% 0% 0 4%;
	display: flex;
	flex-direction:space-between;
}
.corpo-caixa_4--box{
	padding-right: 5vw;
}
.corpo-caixa_4-img1{
	width:6vw;
}
.corpo-caixa_4-img2{
	width:4vw;
}
.corpo-caixa_5{
	padding: 5% 0% 0 4%;
	width: 20vw;
	/*background-color: yellow;*/
}
.corpo-caixa_5-p{
	font-family: Black;
	font-weight: 700;
	color: #F26522;
	font-size: 1em;
}
.corpo-caixa_5-linguagens{
	width: 15vw;
	border-style: dotted;
	color: #F26522;
	box-shadow: 10px 10px;
}
.corpo-caixa_5-linguagens-p{
	padding: 0 0 0 10%;
	text-align: left;
	font-family: Black;
	font-weight: 400;
	color: #2E3192;
	font-size: 0.9em;
	line-height: 0.7em;
}
.corpo-caixa_6{
	width: 100%;
	height: 100vh;
}
.corpo-caixa_6-p{
	width: 40vw;
	padding: 5% 0% 0 4%;
	font-family: SemiboldRegular;
	font-weight: 400;
	font-size: 1em;
	color: #2E3192;
}
.corpo-caixa_6-seta{
	width: 10vw;
	margin: 0 0 0 70%;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
}
.corpo-caixa_6-setaEsquerda{
	padding: 0 1vw 0 0;
	font-family: SemiboldRegular;
	font-size: 2.125em;
	color: #2E3192;
}
.corpo-caixa_6-setaDireita{
	font-family: SemiboldRegular;
	font-size: 2.125em;
	color: #2E3192;
}
.corpo-caixa_6-img{
  	width: 70vw;
  	height: 70vh;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
}
.corpo-caixa_6-img1{
	width: 50vw;
	padding: 0 0% 0 4%;
	display: block;
  	position: absolute;
}
.corpo-caixa_6-img2{
    width: 49.6vw;
	padding:  7.9% 0 0 5.9%;
	position: relative;
}
.corpo-caixa_6-img3{
	width: 10vw;
	position: absolute;
	padding:  2% 0 0 0;
	margin: 0 -70px;
}
.corpo-caixa_6-img4{
	width: 9.7vw;
	position: relative;
	padding: 0 0 18.5% 0;
	margin: 0 -68px;
}
.corpo-caixa_7{
	width: 96.3vw;
	height: 32vh;
	margin-left: -16.25vw;
	margin-top:15%;
	margin-bottom: 18%;
	background-color: #FCAF17;
}
*.corpo-caixa_7-box{
	width: 96.3vw;
	height: 30vh;
	/*position: absolute;*/
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: pink;*/
}
.corpo-caixa_7-p{
	width: 20vw;
	padding: 0 0 0 10%;
	font-family: Semibold;
	font-weight: 400;
	font-size: 1em;
	color: #2E3192;
}
.corpo-caixa_7-img{
	padding: 0 0% 0 15%;
	width: 35vw;
}
.corpo-caixa_8{
	width: 96.3vw;
	height: 80vh;
	padding: 0 0 0 0;
	margin: 0 -16.3vw;
	background-color: #00012E;
}